title: "R Notebook"
output: html_notebook
---

This is an [R Markdown](http://rmarkdown.rstudio.com) Notebook. When you execute code within the notebook, the results appear beneath the code. 

Try executing this chunk by clicking the *Run* button within the chunk or by placing your cursor inside it and pressing *Ctrl+Shift+Enter*. 

```{r}
usarrest <- read.csv("../Desktop/sebastian/r studio/cheat sheet/USArrests.csv.txt", stringsAsFactors = FALSE)
rownames(usarrest) <- usarrest$X
usarrest$X <- NULL
head(usarrest)

apply(usarrest, 2, var)

acp <- prcomp(usarrest,
              center = TRUE,
              scale. = TRUE)

print(acp)

plot(acp  , type = "l")
summary(acp)
biplot(acp, scale = 0)

pc1 <- apply(acp$rotation[,1]*usarrest,1, sum)
pc2 <- apply(acp$rotation[,2]*usarrest,1, sum)


usarrest$pc1 <- pc1
usarrest$pc2 <- pc2

usarrest[,1:4] <- NULL
